<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.flybits.samples.context" >

    <!-- Needed for Flybits SDK -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Activity Recognition Permissions -->
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".utilities.SampleApplication"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.flybits.development.apikey"
            android:value="DCE738E1-2DFD-48B7-B3F0-3AB6D90F68F8" />

        <!-- Services and Receivers for Activity Recognition -->
        <receiver android:name="com.flybits.core.api.context.receivers.ActivityCollectionAlarmManager"/>
        <service android:name="com.flybits.core.api.context.services.ActivityCollectionService"/>
        <service android:name="com.flybits.core.api.context.plugins.activity.DeviceRecognitionServiceIntent"/>
    </application>

</manifest>