<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.flybits.samples.context" >

    <!-- Needed for Flybits SDK -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Activity Recognition Permissions -->
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION"/>

    <!-- Carrier Permissions -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <!-- Location / Beacon Permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Network Permissions -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".utilities.SampleApplication"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.flybits.apikey"
            android:value="7CA85BA9-8747-446A-8436-B3C9F75C3DF2" />

        <!-- Services for Activity Recognition -->
        <service android:name="com.flybits.core.api.context.v2.plugins.activity.ActivityBackgroundService"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY"/>
            </intent-filter>
        </service>
        <service android:name="com.flybits.core.api.context.v2.plugins.activity.DeviceRecognitionServiceIntent" />
        <service android:name="com.flybits.core.api.context.v2.plugins.activity.ActivityForegroundService" />

        <!-- Services for Battery -->
        <service android:name="com.flybits.core.api.context.v2.plugins.battery.BatteryBackgroundService"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY"/>
            </intent-filter>
        </service>
        <service android:name="com.flybits.core.api.context.v2.plugins.battery.BatteryForegroundService" />

        <!-- Services for Carrier -->
        <service android:name="com.flybits.core.api.context.v2.plugins.carrier.CarrierBackgroundService"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY"/>
            </intent-filter>
        </service>
        <service android:name="com.flybits.core.api.context.v2.plugins.carrier.CarrierForegroundService" />

        <!-- Services for Fitness -->
        <service android:name="com.flybits.core.api.context.v2.plugins.fitness.FitnessBackgroundService"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY"/>
            </intent-filter>
        </service>
        <service android:name="com.flybits.core.api.context.v2.plugins.fitness.FitnessForegroundService" />


        <!-- Services for Language -->
        <service android:name="com.flybits.core.api.context.v2.plugins.language.LanguageBackgroundService"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY"/>
            </intent-filter>
        </service>
        <service android:name="com.flybits.core.api.context.v2.plugins.language.LanguageForegroundService" />

        <!-- Services for Location -->
        <service android:name="com.flybits.core.api.context.v2.plugins.location.LocationBackgroundService"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY"/>
            </intent-filter>
        </service>
        <service android:name="com.flybits.core.api.context.v2.plugins.location.LocationForegroundService" />

        <!-- Services for Network -->
        <service android:name="com.flybits.core.api.context.v2.plugins.network.NetworkBackgroundService"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY"/>
            </intent-filter>
        </service>
        <service android:name="com.flybits.core.api.context.v2.plugins.network.NetworkForegroundService" />
    </application>

</manifest>